<!-- app/views/binaries/show.html.erb -->
<div>
  <h1 class="font-bold text-4xl">Binary Details</h1>

  <%= form_with model: @binary, local: true do |form| %>
    <div class="field">
      <%= form.label :id %>
      <%= form.text_field :id, readonly: true, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, readonly: true, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :context %>
      <%= form.text_area :context, readonly: true, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :created_at %>
      <%= form.text_field :created_at, readonly: true, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :updated_at %>
      <%= form.text_field :updated_at, readonly: true, class: 'form-control' %>
    </div>

    <div class="actions">
      <%= link_to 'Edit', edit_binary_path(@binary), class: 'btn btn-primary' %>
      <%= link_to 'Delete', @binary, method: :delete, data: { confirm: 'Are you sure?', turbo_method: :delete }, class: 'btn btn-danger' %>
      <%= link_to 'Back', binary_index_path, class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>
